
    <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    LE
                </a>
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    Stress Detector
                </a>
            </div>
            <ul class="nav">
                <li class="{% if 'index' in segment %} active {% endif %} ">
                    <a href="/">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                
                <li class="{% if 'tables' in segment %} active {% endif %}">
                    <a href="/tables.html">
                        <i class="tim-icons icon-puzzle-10"></i>
                        <p>Table List</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
